<div class="SingleTrip">
  <div class="SingleTrip__image">
    <img [src]="randomimage" width="200" height="120" alt="bus" />
  </div>
  <div style="display: flex; justify-content: space-evenly">
    <div class="SingleTrip__busdetails">
      <div class="heading" style="font-weight: 600; font-size: large">Bus Details</div>
      <!-- Insertion for Departure, Arrival details, and fare -->
      <p><span class="bullet"></span> Departure Location:</p>
      <p><span class="bullet"></span> Departure Time:</p>
      <p><span class="bullet"></span> Departure Date:</p>
      <p><span class="bullet"></span> Arrival Location:</p>
      <p><span class="bullet"></span> Arrival Time:</p>
      <p><span class="bullet"></span> Arrival Date:</p>
      <p><span class="bullet"></span> Total Fare:</p>
    </div>
    <div class="SingleTrip__persondetails">
      <div class="heading" style="font-weight: 600; font-size: large">Passenger Details</div>

      <!-- Insertion for Passenger details -->
      <p><span class="bullet"></span> Contact Email:</p>
      <p><span class="bullet"></span> Contact Phone Number:</p>
      <div class="SingleTrip__customerDetails__passenger">
          <p><span class="bullet"></span> Name:</p>
          <p><span class="bullet"></span> Gender:</p>
          <p><span class="bullet"></span> Age:</p>
        </div>
      </div>
    </div>
</div>
